* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
}

.home {
    float:left;
    padding:2em 4em;
    width: 100%;
    height:calc(100vh - 3em);
}

.content {
    font-size: 1em;
    width:90%;
    margin:auto;
    padding:80px 0;
  }

.myH2 {
	text-align:justify;
	font-size: 5em;
  z-index:1;
}

// Keyframes
/* Chrome, Safari, Opera */
@-webkit-keyframes bg-color {
  50% {background-position: right center;}
}
/* Standard syntax */
@keyframes bg-color {
  50% {background-position: right center;}
}

.c-article__title {
  font-family: 'FreeMono', monospace;
  background: -webkit-gradient(linear, left top, right top, from(rgba(156,1,255,1)), color-stop(50%, rgba(255,91,219,1)), to(rgba(156,1,255,1)));
  background: -o-linear-gradient(left, rgba(156,1,255,1) 0%, rgba(255,91,219,1) 50%, rgba(156,1,255,1) 100%);
  background: linear-gradient(90deg, rgba(156,1,255,1) 0%, rgba(255,91,219,1) 50%, rgba(156,1,255,1) 100%);
  background-size: 1600px 200px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: bg-color;
          animation-name: bg-color;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.article {
  background: rgba(0,0,0,0.5);
  border-radius: 25px;
  padding: 25px;
  margin-top:20px;
  margin-bottom:20px;
}

.hard-skills {
}

.soft-skills {
}

.skills-header {
  text-align:center;
  font-size:3em;
  color:white;
}

.myP {
	text-align: justify;
	font-size: 20px;
  color:white;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

